@import "lib/bootstrap/css/bootstrap.css";

html,body {
    background-color: #FFFFFF;
    margin: 0;
    height: 100vh;
}

body{
    background-image: url("../images/tableau.jpg");
}

a.button{
    text-decoration: none;
}

.buttonCreate {
    background-color: #404040;
    color: white;
}


.cardDashboard{
    max-width: 18rem;
    margin: 30px;
}

img {
    width: 100%;
    height: 100vh;
}
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    margin-top: 6vh;
    background-image: url('../images/carcreate.jpg');
    background-size: cover;
    background-position: center center;

}

.bg-imageEditCar{
    background-image: url('../images/carEdit.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-carShow{
    background-image: url('../images/carShow.jpg');
    background-size: cover;
    background-position: center right -150px;
}

.bg-typeCreate {
    background-image: url('../images/typeCreate.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-typeEdit{
    background-image: url('../images/typeEdit.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-typeShow {
    background-image: url('../images/typeShow.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-optionCreate{
    background-image: url('../images/optionCreate.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-optionEdit{
    background-image: url('../images/optionEdit.jpg');
    background-size: cover;
    background-position: center center;
}

.bg-optionShow {
    background-image: url('../images/optionShow.jpg');
    background-size: cover;
    background-position: center center;
}
